<div class="container">
  <div class="jumbotron">
    <h1><%= @posts.title %></h1>
    <p>
      This is an example of a posts created with Ruby on Rails. We are using Bootstrap to beautify the web application and learn how to add some styles to our views.
    </p>
    <span class="label label-primary"> Last update <%= @posts.updated_at.strftime("%d %b, %Y") %></span>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <%= @posts.body %>
        ...
      </p>
    </div>
    <div class="panel-footer">By @dtprasetyo</div>
  </div>
</div>